body {
      background: linear-gradient(135deg, #144BB7, #0F3684,#092151, #0C2B6B);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-card {
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      padding: 2rem;
      width: 100%;
      max-width: 400px;
    }
    .login-card .form-control {
      border-radius: 20px;
    }
    .btn-login {
      border-radius: 10px;
    }