body {
  background: linear-gradient(135deg, #144BB7, #0F3684,#092151, #0C2B6B);
  min-height: 100vh;
  margin: 0;
  padding: 0px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}


.card {
  border-radius: 15px;
  background-color: #fff;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-brand img {
  height: 40px;
  border-radius: 8px;
}

.nav-link {
  color: #0C2B6B !important;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #144BB7 !important;
}

.nav-link i {
  margin-right: 5px;
}